<h1>MOVIES</h1>
<ul>


    <% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h1>
        <%= link_to movie.title,  movie %>
      </h1>
      <h2><p><%= year_of(movie)%></p></h2>
      <h3>
      <p>
        <%= total_gross(movie) %>
      </p>
      
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>
 <section class="admin">
  <%= link_to "Add New Movie", new_movie_path, class: "button" %>
</section>
</ul>