<h1>Reviews for <%= link_to @movie.title, @movie %></h1>
<ul class="reviews">
    <% @reviews.each do |r| %>
        <li>
        <%= render "shared/stars", percent: r.stars_as_percent %>
        <p>
            <%= r.name %>
            "<%= r.comment %>"
        <span class="date">
            review created <%= time_ago_in_words(r.created_at) %> ago
        </span>
        </p>
    </li>
    <% end %>
</ul>